.faq-list{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.faq {
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.faq-question-icon{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.faq .faq-question {
	position: relative;
	font-size: 20px;
    align-items: flex-start;
	transition: all 0.4s ease;
}

.faq .faq-answer{
    opacity: 0;
	max-height: 0px;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
}
.faq-expand{
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.faq-expand .faq-answer{
    opacity: 1;
    max-height: 1000px;
    padding: 5px;
    transition: all 0.4s ease-out;
}
.faq-expand .faq-question {
    position: relative;
	font-size: 20px;
    align-items:flex-start;
	transition: all 0.4s ease;
	margin-bottom: 15px;
}
